name: Build Images Daily

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        combos:
          - python:3 node:lts
          - python:3 node:24
          - python:3 node:22
          - python:3 node:20
          - python:3.10 node:24
          - python:3.10 node:22
          - python:3.10 node:20
          - python:3.11 node:24
          - python:3.11 node:22
          - python:3.11 node:20
          - python:3.12 node:24
          - python:3.12 node:22
          - python:3.12 node:20
          - python:3.13 node:24
          - python:3.13 node:22
          - python:3.13 node:20
          - python:3.14 node:24
          - python:3.14 node:22
          - python:3.14 node:20
          - ruby:3 node:24
          - ruby:3 node:22
          - ruby:3 node:20

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Install Poetry
        run: |
          pipx install poetry

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: poetry

      - name: Python requirements
        run: |
          poetry install

      - name: Build
        run: |
          poetry run python update.py `[ ${GITHUB_REF##*/} == master ] && echo --push` ${{ matrix.combos }}
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Image digests
        run: |
          # print digests for easy verification
          docker images --no-trunc
